*{
  margin: 0;
  color: #F7F7FF;
}
a{
  color: #000000;
  text-decoration: none;
}
a:hover{
  color: #000000;
  text-decoration: none;
}
body {
  background: rgb(21, 21, 21);
}
.container{
  margin-top: 2px;
  padding: 0;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 0;

}
.menu-bar{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  column-gap: 50px;
  align-items: center;
  box-shadow: 0px 0px 10px #ffffff;
  padding: 10px 50px 10px 50px;
}


/*#282a36 !important*/


.menu-bar>h3{
  margin: 0;
  border: 1pt solid black;
  width: 100px;
  text-align: center;
  padding: 5px;
  color: #000000;
  background: #ffffff;
  box-shadow: 2px 2px 2px #ffffff;
  transition: 0.3s;
}
.menu-bar>h3:hover{
  transform: translate(-2px, -2px);
  cursor: pointer;
  box-shadow: 4px 4px 2px #ffffff;
}



/*DROP-DOWN LIST*/

#hover-underline-animation {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px;
  background: none;
  min-width: 70px;
  font-size: 12pt;
}

#hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #c7c7c7;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  background: none;
  border: 0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


#tasks-container{
  padding: 0;
  background: rgb(21, 21, 21);
  border-right: 2pt solid #4b4b4b;
  width: 50%;
  height: auto;
}
#task-text{
  text-align: start;
  padding: 15px;
  font-size: 12pt;
}
.editor-container{
  width: 100%;
}

.editor-container>*{
  margin: 0;
  padding: 0;
}
.tab-button-container{
  display: flex;
}



@media screen and (width: 600px) {
  .container{
    flex-wrap: wrap;
  }
  #tasks-container{
    width: 50%;
    height: auto;
  }
}